// 布局设置
.layout {
  display: flex;
  flex-flow: column;
  position: relative;
  min-height: 100vh;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;

}


// 左侧胶囊
.capsule {
  position: absolute;
  z-index: 3;
  width: 60%;
  height: 60px;
  left: 20px;
  //background: rgba(0, 0, 0, 0.3);
  //color: #ffffff;
  background: white;
  color:rgba(0,0,0,0.9);
  border-radius: 32px;
  line-height: 60px;
  font-size: 26px;
  text-align: center;
  box-shadow: 0 0 1px #ffffff;
}
.capsule_icon {
  font-size: 24px;
  margin-left: 4px;


}


// 顶部轮播图
.swiper {
  width: 100vw;
  height: 28vh;
  position: absolute;
}

.banner {
  width: 100vw;
}

.banner_transparent {
  height: 100px;
  width: 100vw;
  position: absolute;
  bottom: 0;
  background-image: linear-gradient(rgba(240, 242, 245, 0), rgba(240, 242, 245, 1));
  z-index: 1;
}


// 内容展示
.container {
  padding: 21vh 30px 0;
  position: relative;
  z-index: 2;
  flex: auto;
}


// 技术支持
.support {
  height: 120px;
  line-height: 120px;
  text-align: center;
  font-size: 26px;
  color: rgba(0, 0, 0, 0.4);
}
