/**
 * ============================================
 * 模块概览
 * ============================================
 * 1. theme
 * 2. layout
 * 3. flex
 * 4. box alignment
 * 5. spacing
 * 6. sizing
 * 7. typography
 * 8. background
 * 9. border
 */


/**
 * ============================================
 * 主题样式
 * ============================================
 * 1. color 颜色，如需更换主题色，请参考链接 https://tailwindcss.com/docs/customizing-colors
 *
 */

page {
  position: relative;
  width: 100%;
  min-height: 100%;
}

$gray: #F9FAFB, #F3F4F6, #E5E7EB, #D1D5DB, #9CA3AF, #6B7280, #4B5563, #374151, #1F2937, #111827;
$red: #FEF2F2, #FEE2E2, #FECACA, #FCA5A5, #F87171, #EF4444, #DC2626, #B91C1C, #991B1B, #7F1D1D;
$yellow: #FEFCE8, #FEF9C3, #FEF08A, #FDE047, #FACC15, #EAB308, #CA8A04, #A16207, #854D0E, #713F12;
$green: #ECFDF5, #D1FAE5, #A7F3D0, #6EE7B7, #34D399, #10B981, #059669, #047857, #065F46, #064E3B;
$blue: #EFF6FF, #DBEAFE, #BFDBFE, #93C5FD, #60A5FA, #3B82F6, #2563EB, #1D4ED8, #1E40AF, #1E3A8A;
$indigo: #EEF2FF, #E0E7FF, #C7D2FE, #A5B4FC, #818CF8, #6366F1, #4F46E5, #4338CA, #3730A3, #312E81;
$purple: #F5F3FF, #EDE9FE, #DDD6FE, #C4B5FD, #A78BFA, #8B5CF6, #7C3AED, #6D28D9, #5B21B6, #4C1D95;
$pink: #FDF2F8, #FCE7F3, #FBCFE8, #F9A8D4, #F472B6, #EC4899, #DB2777, #BE185D, #9D174D, #831843;


/**
 * ============================================
 * layout 布局
 * ============================================
 * 1. flex
 * 2. position (relative/absolut)
 * 3. overflow
 * 4. zIndex
 * 5. top/bottom/left/right
 */

.flex {
  display: flex;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.overflow-auto {
  overflow: auto;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-visible {
  overflow: visible;
}

.overflow-scroll {
  overflow: scroll;
}

.overflow-x-auto {
  overflow-x: auto;
}

.overflow-y-auto {
  overflow-y: auto;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.overflow-y-hidden {
  overflow-y: hidden;
}

.overflow-x-visible {
  overflow-x: visible;
}

.overflow-y-visible {
  overflow-y: visible;
}

.overflow-x-scroll {
  overflow-x: scroll;
}

.overflow-y-scroll {
  overflow-y: scroll;
}


// zIndex-*

.zIndex-auto {
  z-index: auto;
}

@for $i from 1 to 20 {
  .zIndex-#{$i} {
    z-index: $i;
  }
}


// top-*
@for $i from 1 to 49 {
  .top-#{$i} {
    top: $i * 4px;
  }
}

// bottom-*
@for $i from 1 to 49 {
  .bottom-#{$i} {
    bottom: $i * 4px;
  }
}

// left-*
@for $i from 1 to 49 {
  .left-#{$i} {
    left: $i * 4px;
  }
}

// right-*
@for $i from 1 to 49 {
  .right-#{$i} {
    right: $i * 4px;
  }
}


/**
 * ============================================
 * flex
 * ============================================
 *
 * 为了兼容react-native 全局使用 flex 进行布局
 *
 */

.flex-row {
  flex-direction: row;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.flex-col {
  flex-direction: column;
}

.flex-col-reverse {
  flex-direction: column-reverse;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}

.flex-nowrap {
  flex-wrap: nowrap;
}


// flex-*
@for $i from 1 to 25 {
  .flex-#{$i} {
    flex: $i;
  }
}

.flex-auto {
  flex: 1 1 auto;
}

.flex-initial {
  flex: 0 1 auto;
}

.flex-none {
  flex: none;
}

.flex-grow-0 {
  flex-grow: 0;
}

.flex-grow {
  flex-grow: 1;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

.flex-shrink {
  flex-shrink: 1;
}


/**
 * ============================================
 * box alignment 盒模型对齐
 * ============================================
 *
 * 依托于 flex 进行使用
 *
 */


.justify-center {
  justify-content: center;
}

.justify-left {

  justify-content: start;
}

.justify-right {

  justify-content: end;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-evenly {
  justify-content: space-evenly;
}

.content-center {
  align-content: center;
}

.content-start {
  align-content: flex-start;
}

.content-end {
  align-content: flex-end;
}

.content-between {
  align-content: space-between;
}

.content-around {
  align-content: space-around;
}

.content-evenly {
  align-content: space-evenly;
}

.items-center {
  align-items: center;

}

.items-left {
  align-items: flex-start;

}

.items-right {
  align-items: flex-end;

}

.items-baseline {
  align-items: baseline;
}

.items-stretch {
  align-items: stretch;
}

.self-auto {
  align-self: auto;
}

.self-start {
  align-self: flex-start;
}

.self-end {
  align-self: flex-end;
}

.self-center {
  align-self: center;
}

.self-stretch {
  align-self: stretch;
}


/**
 * ============================================
 * spacing 间距控制
 * ============================================
 *
 * 添加常用盒模型属性
 * 1. padding
 * 2. margin
 */


// p-*
@for $i from 1 to 101 {
  .p-#{$i} {
    padding: $i * 4px;
  }
}

// px-*
@for $i from 1 to 101 {
  .px-#{$i} {
    padding-left: $i * 4px;
    padding-right: $i * 4px;
  }
}

// py-*
@for $i from 1 to 101 {
  .py-#{$i} {
    padding-top: $i * 4px;
    padding-bottom: $i * 4px;
  }
}

// pt-*
@for $i from 1 to 101 {
  .pt-#{$i} {
    padding-top: $i * 4px;
  }
}

// pr-*
@for $i from 1 to 101 {
  .pr-#{$i} {
    padding-right: $i * 4px;
  }
}

// pb-*
@for $i from 1 to 101 {
  .pb-#{$i} {
    padding-bottom: $i * 4px;
  }
}

// pl-*
@for $i from 1 to 101 {
  .pl-#{$i} {
    padding-left: $i * 4px;
  }
}

.m-auto {
  margin: auto;
}

// m-*
@for $i from 1 to 101 {
  .m-#{$i} {
    margin: $i * 4px;
  }
}

// mx-*
@for $i from 1 to 101 {
  .mx-#{$i} {
    margin-left: $i * 4px;
    margin-right: $i * 4px;
  }
}

// my-*
@for $i from 1 to 101 {
  .my-#{$i} {
    margin-top: $i * 4px;
    margin-bottom: $i * 4px;
  }
}

// mt-*
@for $i from 1 to 101 {
  .mt-#{$i} {
    margin-top: $i * 4px;
  }
}

// mr-*
@for $i from 1 to 101 {
  .mr-#{$i} {
    margin-right: $i * 4px;
  }
}

// mb-*
@for $i from 1 to 101 {
  .mb-#{$i} {
    margin-bottom: $i * 4px;
  }
}

// ml-*
@for $i from 1 to 101 {
  .ml-#{$i} {
    margin-left: $i * 4px;
  }
}


/**
 * ============================================
 * sizing 尺寸
 * ============================================
 *
 * 1. width
 * 2. height
 */


// w-*
@for $i from 1 to 101 {
  .w-#{$i} {
    width: $i * 4px;
  }
}

.w-full {
  width: 100%;
}


// h-*
@for $i from 1 to 101 {
  .h-#{$i} {
    height: $i * 4px;
  }
}

.h-full {
  height: 100%;
}


/**
 * ============================================
 * typography文字
 * ============================================
 *
 * 1. text-*
 * 2. italic 文字倾斜
 * 3. font-(thin,....) 文字粗细
 * 4. lending 文字间距
 * 5. align 文字对齐方式
 * 6. color
 * 7. shadow
 *
 */

@for $i from 1 to 101 {
  .text-#{$i} {
    font-size: $i * 4px;
  }
}

.italic {
  font-style: italic;
}

.font-thin {
  font-weight: 100;
}

.font-extralight {
  font-weight: 200;
}

.font-light {
  font-weight: 300;
}

.font-normal {
  font-weight: 400;
}

.font-medium {
  font-weight: 500;
}

.font-semibold {
  font-weight: 600;
}

.font-bold {
  font-weight: 700;
}

.font-extrabold {
  font-weight: 800;
}

.font-black {
  font-weight: 900;
}

@for $i from 1 to 101 {
  .lending-#{$i} {
    line-height: $i * 1px;
  }
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}


@for $i from 1 to 11 {
  @each $color in $gray {
    .text-gray-#{$i} {
      color: $color;
    }
  }
  @each $color in $red {
    .text-red-#{$i} {
      color: $color;
    }
  }
  @each $color in $yellow {
    .text-yellow-#{$i} {
      color: $color;
    }
  }
  @each $color in $green {
    .text-green-#{$i} {
      color: $color;
    }
  }
  @each $color in $blue {
    .text-blue-#{$i} {
      color: $color;
    }
  }
  @each $color in $indigo {
    .text-indigo-#{$i} {
      color: $color;
    }
  }
  @each $color in $purple {
    .text-purple-#{$i} {
      color: $color;
    }
  }
  @each $color in $pink {
    .text-pink-#{$i} {
      color: $color;
    }
  }
}

.text-white {
  color: #ffffff;
}

.text-black {
  color: #000000;
}


.text-shadow-gray {
  text-shadow: 6px 6px 8px rgba(114, 130, 138, 0.2);
}

.text-shadow-red {
  text-shadow: 6px 6px 8px rgba(204, 69, 59, 0.2);
}

.text-shadow-yellow {
  text-shadow: 6px 6px 8px rgba(224, 170, 7, 0.2);
}

.text-shadow-green {
  text-shadow: 6px 6px 8px rgba(48, 156, 63, 0.2);
}

.text-shadow-blue {
  text-shadow: 6px 6px 8px rgba(0, 102, 204, 0.2);
}

.text-shadow-purple {
  text-shadow: 6px 6px 8px rgba(88, 48, 156, 0.2);
}

.text-shadow-pink {
  text-shadow: 6px 6px 8px rgba(199, 50, 134, 0.2);
}

.text-shadow-black {
  text-shadow: 6px 6px 8px rgba(26, 26, 26, 0.2);
}

.text-shadow-indigo {
  text-shadow: 6px 6px 8px rgba(133, 33, 150, 0.2);
}


/**
 * ============================================
 * background 背景
 * ============================================
 * 1. bg-*
 *
 */


@for $i from 1 to 11 {
  @each $color in $gray {
    .bg-gray-#{$i} {
      color: $color;
    }
  }
  @each $color in $red {
    .bg-red-#{$i} {
      color: $color;
    }
  }
  @each $color in $yellow {
    .bg-yellow-#{$i} {
      color: $color;
    }
  }
  @each $color in $green {
    .bg-green-#{$i} {
      color: $color;
    }
  }
  @each $color in $blue {
    .bg-blue-#{$i} {
      color: $color;
    }
  }
  @each $color in $indigo {
    .bg-indigo-#{$i} {
      color: $color;
    }
  }
  @each $color in $purple {
    .bg-purple-#{$i} {
      color: $color;
    }
  }
  @each $color in $pink {
    .bg-pink-#{$i} {
      color: $color;
    }
  }
}

.bg-black {
  background-color: #333333;

}

.bg-white {
  background-color: #ffffff;

}


/**
 * ============================================
 * border 边框
 * ============================================
 * 1. radius
 *
 */

@for $i from 1 to 101 {
  .radius-#{$i} {
    border-radius: $i * 1px;
  }
}


